<div class="SM-form-top-menu row col-sm-12">  
  <button nz-button [nzType]="'primary'" name="saveBtn" (click)="save()" >SAVE</button>
</div>
    
<div class="SM-Form animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <form >
          <div class="card-header">
            <strong>%{_title}%</strong>
          </div>
          <div class="card-body">
          %{_body}%
          </div>    
          <div class="card-footer">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
